---
import ArtistCard from "../components/ArtistCard.astro";
import ArtistCard2 from "../components/Artistcard-2.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ArtistCard</title>
  </head>
  <ArtistCard title="BIRGER" ptext="Birger tryller for KidsAid i Viborg og Odense. Han har optrådt for både store og små i over 20 år." />
  <ArtistCard2 title="LASSE NK" ptext="Lasse er på Herlev og Hvidovre og Gram Slot. Han er en mester til balloner og har en populær Segway." />
  <ArtistCard title="TRYLLE MICHAEL" ptext="Tryller på Riget. En ægte magiker, der også får de voksne til at forbløffes." />
  <ArtistCard2 title="HENNY SOLSKIN" ptext="Henny Solskin er en ægte solstråle. Med hendes mange farver, dyr og bamser spreder hun glæde på Herning." />
  <ArtistCard title="RASMUS FUP & FIDUS" ptext="Rasmus Fup og Fidus fra AUH tryller på de forskellige børneafdelinger på Aarhus og Familiehuset." />
  <ArtistCard2 title="FABELAGTIGE FALBE" ptext="En magiker med grine-garanti." />
  <style></style>
</html>
