---

---

<div class="container">
  <input type="radio" name="slider" id="s1" />
  <input type="radio" name="slider" id="s2" />
  <input type="radio" name="slider" id="s3" />
  <input type="radio" name="slider" id="s4" />
  <input type="radio" name="slider" id="s5" />

  <div class="cards">
    <label for="s1" id="slide1">
      <div class="card">
        <div class="image">
          <img src="" alt="" />
          <div class="dots">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="infos">
          <span class="name">Nike SuperRep</span>
          <span class="lorem"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rerum
            facilis repellat ratione qui impedit doloribus dolores velit debitis
            tempora, porro natus mollitia nulla modi recusandae delectus
            voluptatum non tempore.</span
          >
          <a href="#" class="btn-details">details</a>

          <div class="actions">
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-regular fa-bookmark"></i>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
      </div>
    </label>
    <label for="s2" id="slide2">
      <div class="card">
        <div class="image">
          <img src="" alt="" />
          <div class="dots">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="infos">
          <span class="name">Nike SuperRep</span>
          <span class="lorem"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rerum
            facilis repellat ratione qui impedit doloribus dolores velit debitis
            tempora, porro natus mollitia nulla modi recusandae delectus
            voluptatum non tempore.</span
          >
          <a href="#" class="btn-details">details</a>

          <div class="actions">
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-regular fa-bookmark"></i>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
      </div>
    </label>
    <label for="s2" id="slide2">
      <div class="card">
        <div class="image">
          <img src="" alt="" />
          <div class="dots">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="infos">
          <span class="name">Nike SuperRep</span>
          <span class="lorem"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rerum
            facilis repellat ratione qui impedit doloribus dolores velit debitis
            tempora, porro natus mollitia nulla modi recusandae delectus
            voluptatum non tempore.</span
          >
          <a href="#" class="btn-details">details</a>

          <div class="actions">
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-regular fa-bookmark"></i>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
      </div>
    </label>
    <label for="s3" id="slide3">
      <div class="card">
        <div class="image">
          <img src="" alt="" />
          <div class="dots">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="infos">
          <span class="name">Nike SuperRep</span>
          <span class="lorem"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rerum
            facilis repellat ratione qui impedit doloribus dolores velit debitis
            tempora, porro natus mollitia nulla modi recusandae delectus
            voluptatum non tempore.</span
          >
          <a href="#" class="btn-details">details</a>

          <div class="actions">
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-regular fa-bookmark"></i>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
      </div>
    </label>
    <label for="s4" id="slide4">
      <div class="card">
        <div class="image">
          <img src="" alt="" />
          <div class="dots">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="infos">
          <span class="name">Nike SuperRep</span>
          <span class="lorem"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rerum
            facilis repellat ratione qui impedit doloribus dolores velit debitis
            tempora, porro natus mollitia nulla modi recusandae delectus
            voluptatum non tempore.</span
          >
          <a href="#" class="btn-details">details</a>

          <div class="actions">
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-regular fa-bookmark"></i>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
      </div>
    </label>
    <label for="s5" id="slide5">
      <div class="card">
        <div class="image">
          <img src="" alt="" />
          <div class="dots">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="infos">
          <span class="name">Nike SuperRep</span>
          <span class="lorem"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rerum
            facilis repellat ratione qui impedit doloribus dolores velit debitis
            tempora, porro natus mollitia nulla modi recusandae delectus
            voluptatum non tempore.</span
          >
          <a href="#" class="btn-details">details</a>

          <div class="actions">
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-regular fa-bookmark"></i>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
      </div>
    </label>
  </div>
</div>
